		${nodeScriptName} = new #if ($lazy ) Ext.tree.AsyncTreeNode #else Ext.tree.TreeNode #end ({
		       id:'${nodeScriptName}', 
		       text:'${text}',	 
		       href:"${action}",
		       hrefTarget:'${target}',		
		       qtip :'${tip}',	
		       disabled:${disabled},	
#if( ${isGenCheckbox} )		       
		       checked: ${checked},
#end
		       				 #if ( $lazy )
               ${dataUrlKey} : '${node.subTreeURL}',
#end		       				 
		       allowDrag:${allowDrag},
		       allowDrop:${allowDrop},
		       ${userAttributes}
		       iconCls:'${iconCls}'
		     });
		${parentNodeScriptName}.appendChild( ${nodeScriptName} );		
