body{
	font-size:11px;
}
.TreeGrid{
	border-collapse: collapse; 
	font-size: 11px;
	border: 1px solid #778899;
}

.TreeGrid .header{
	background:url('themes/default/images/datagrid_title_bg.png') repeat-x;
	border-bottom:1px solid #8DB2E3;
	border-top:1px solid #fff;
	position:relative;
	padding:5px 0px;
	color:#15428b;
	font-weight:bold;
	padding-left:5px;
}

.TreeGrid td{
	border: 1px solid #E6E6FA;
	padding: 4px 3px 2px 3px;
}

.TreeGrid a{
	text-decoration: underline;
	color: black;
}

.TreeGrid a:hover{
	color: blue;
}

.TreeGrid .image_hand{
	border: 0;
	cursor:hand;
	align:absmiddle;
}

.TreeGrid .image_nohand{
	border: 0;
	align:absmiddle;
}

.TreeGrid .row_hover{
	background-color: #E6E6FA;
}

.TreeGrid .row_active{
	background-color: #E0FFFF;
}
